/* Main container spacing */
.removed-lot-container {
  margin-top: 80px;
  margin-left: 20px;
}

/* Header row */
.removed-lot-header {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

/* Search field */
.removed-lot-search {
  width: 18rem !important;
}

/* Title + Icon block */
.removed-lot-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.removed-lot-title h2 {
  margin: 0;
}

/* Restore Button */
.lot-btn-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lot-btn-restore,.lot-btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.lot-btn-restore {
  background-color: #28a745;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  transition: 0.2s;
  align-items: center;
}

.lot-btn-restore:hover {
  background-color: #218838;
}

/* Delete Button */
.lot-btn-delete {
  background-color: #dc3545;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  
}

.lot-btn-delete:hover {
  background-color: #c82333;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
  align-items: center;
}
 
.pagination button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: #667eea;
  color: white;
  cursor: pointer;
  transition: 0.25s;
}
 
.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
 
.pagination span {
  font-weight: 600;
  color: #2d3748;
}