.ViewContainer{
    margin-top: 8rem;
}
.Viewadd-tab {
  width: 95%;             
  margin: 20px auto;       
  border-collapse: collapse; 
  background: #fff;        
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.ViewRestorethead th {
   border: 1px solid black; 
   padding: 10px 15px;   
   text-align: center;
   background-color: rgb(26, 26, 56);   
   font-weight: bold;
}

.ViewRestoretbody td {
  border: 1px solid black; 
  padding: 8px 12px;
  text-align: center;
}

.viewTfoot td {
  border: 1px solid black; 
  padding: 10px;
  font-weight: bold;
 
  text-align: center;
}

/* Button styling */
.button-save {
  text-align: center;
  margin: 20px 0;
}



